
:root {
    --bg-main: #626c82;
    --bg-dark: #37415c;
    --bg-light: #8e9bb3;
    --text-white: #ffffff;
    --accent-yellow: #f8cb47;
    --accent-green: #2ecc71;
    --accent-red: #e74c3c;
    --font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {

    margin: 0;
    padding: 0;
       
    background-color: var(--bg-main);
    color: var(--text-white);
    font-family: var(--font-main);
    display: center;
    
}


.navbar {
    background-color: var(--bg-dark);
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 100px;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.nav-left, .nav-center, .nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.nav-link:hover {
    color: var(--accent-yellow);
}

.user-icon {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-dark);
}



.container {

    
    
    justify-self: center;
    width: 710px;
    height: 510px;
    
}

.card {
  
   
    background-color: #333333; /* Fundo cinza escuro */
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);

    text-align: center;
    width: 100%;
   
}

.card h1 {
   
    font-size: 35px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 5px;
}

.card form {

    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card input {
    padding: 15px;
    border: none;
    text-align: center; /* placeholder centralizado */
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #000000;
    margin-bottom: 12px;
}


.input-row {
    display: flex;
    gap: 20px;
}



.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 30px;

    
}

.btn {
    display: flex;
  
    align-items: center;
    background-color: #333333; /* Mesma cor do card */
    border: 2px solid #555555; /* Borda para destacar do fundo */
    color: #ffffff;
    text-decoration: none;
    padding: 20px 50px;
    
    font-size: 13px;
    font-weight: bold;

    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}


/*cor de animação */
.btn:hover {
    background-color: #444444;
    border-color: #868686;
}
